.tabNavigationContainer {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  max-width: 250px;
  margin: 0 auto;
  justify-content: center;
  gap: var(--spacing-md);
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-xs);
  border: 1px solid var(--color-border-light);
  margin-bottom: var(--spacing-md);
}

.tabButton {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius-medium);
  font-weight: var(--font-weight-semibold);
  transition: var(--transition-fast);
  
}
@media (max-width: 768px) {
  .tabButton {
    padding: var(--spacing-xs) var(--spacing-md);
    height: 3rem;
    font-size: var(--font-size-xxs);

  }
}

.activeTab {
  display: none;
}

