/* 
 * certification-item.module.css
 */

.itemContainer {
    border: 1px solid var(--color-border-light);
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    background-color: var(--color-background-tertiary);
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.itemTitle {
    font-weight: var(--font-weight-medium);
    color: var(--color-text-accent);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.removeButton {
    color: var(--color-error-text);
}

.removeButton:hover {
    color: var(--color-error-dark);
    background-color: var(--color-error-bg);
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.formField {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.label {
    color: var(--color-text-light);
    font-weight: var(--font-weight-black);
    font-size:var(--font-size-sm);
    padding-bottom: var(--spacing-sm);
}

.input {
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-input-border);
    background-color: var(--color-input-background-custom);
    font-size: 0.75rem;
    color: var(--color-text-input-light);
    box-shadow: var(--shadow-input);
    transition: box-shadow 0.2s ease-in-out;
}

.iconMd {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
} 