.container {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.link {
  display: flex;
  align-items: center;
}

.brand {
  display: inline-block;
  font-weight: 700;
}

.docsLink {
  margin-left: 1rem;
  font-weight: 500;
  color: #374151; /* gray-700 */
  text-decoration: none;
}

.docsLink:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
} 