.userNavButton {
  position: relative;
  border-radius: var(--border-radius-full);
  padding: 0;

}

.avatar {
  padding: 0;
  height: var(--spacing-sm);
  width: var(--spacing-sm);
}

.dropdownContent {
  box-shadow: var(--color-shadow-dropdown);
  background-color: var(--color-background-dark);
  color: var(--color-text-inverse);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-md) var(--spacing-lg);
  position: absolute;
  top: 0;
  right: 0;
  width: 14rem;
}

.dropdownMenuItem:hover {
  color: var(--color-text-hover);
  cursor: pointer;
  transition: var(--transition-fast-cubic);
}

.dropdownLabel {
  font-weight: var(--font-weight-regular);

  margin: 0px;
}

.labelContainer {

  display: flex;
  flex-direction: column;
}

.labelContainer>*:not([hidden])~*:not([hidden]) {
  margin-top: var(--spacing-sm);
}

.userName {
  font-size: var(--font-size-md);
  /* 14px */
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);

  text-align: left;
}

.userEmail {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-bold);
  /* 12px */
  line-height: var(--line-height-tight);
}