.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainUserContainer {
  flex-grow: 1;
  padding: var(--spacing-md);
  /* background-color: #4a4a4a; */
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* background: var(--color-page-background-fallback); */
  /* background-image: var(--color-page-background-gradient); */
}

@media (min-width: 768px) {
  .mainUserContainer {
    padding: var(--spacing-lg);
  }
}

.resumeContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
margin: 0 !important;
}
